{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "allowArrowFunctions": true,
      "spread":true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {},

  "plugins": ["prettier"],
  "extends": ["prettier", "plugin:prettier/recommended"]
}
