{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    
    "rules": {},

    "plugins": ["prettier"],
    "extends": [
        "plugin:prettier/recommended"
    ]
}